.menuContent {
    font-family: 'Caveat', cursive;
}

h1 {
    color: #c73e48;
    font-weight: 900;
    font-family: 'Roboto Slab', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

h2 {
    font-family: 'Roboto Slab', serif;
    color: #c73e48;
}

h3 {
    font-weight: 700;
}