.menuContent {
    font-family: 'Caveat', cursive;
}

@media screen and (min-width:1125px) {
    .menuBody {
        background: url(/src/app/assets/img/MenuBackground2.jpg);
        background-position-x: right;
        background-position-y: center;
        background-repeat: no-repeat;

    }
}

.menuPageTitle {
    color: #c73e48;
    font-weight: 900;
    text-decoration: underline;
    font-family: 'Roboto Slab', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.menuPageSubtitle {
    font-family: 'Roboto Slab', serif;
    color: #c73e48;
}

.menuCardTitle {
    font-weight: 700;
}