.contactUsMainTitle {
    color: #c73e48;
    font-weight: 900;
    text-decoration: underline;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    margin: 35px 0px;
}

.contactUsSubTitle {
    font-family: 'Roboto Slab', serif;
    color: #c73e48;
    margin: 15px 0px;
    text-align: center;
}

.contactUsContent {
    text-align: center;
}

.contactForm {
    background-color: #c73e48;
}

@media screen and (min-width: 768px) {
    .contactUsContent {
        font-size: large;
        text-align: center;
    }
}

@media screen and (min-width: 1024px) {
    .contactUsContent {
        font-size: 20px;
        text-align: center;
    }

    .contactUsSubTitle {
        font-size: 40px;
    }

    .contactUsMainTitle {
        font-size: 50px;
    }


}