.mainLogo {
    background-image: url(../../app/assets/img/cuttingBoard2.jpg);
    background-size: cover;
    background-position: center;
}



.navbar-brand img {
    max-width: 2rem;
    margin-right: 2rem;
}

.navbar {
    background-color: #C73E48;
    border: 2px solid black;
}

.nav-link {
    font-size: large;
}