.navSection {
    margin: auto;
    position: relative;
    width: 100%;
    max-width: 450px;
}

.mainLogo {
    background-image: url(../../app/assets/img/cuttingBoard2.jpg);
    background-size: cover;
    background-position: center;
}

.mainLogoImg {
    padding-left: 8px;
}

.navBar {
    background-color: #C73E48;
    border: 2px solid black;
}

.nav-link {
    font-size: large;
}

.navbar-toggler {
    color: #fefefe;
    border-color: #fefefe;
}

@media screen and (min-width: 568px) {
    .navSection {
        margin: auto;
        position: relative;
        width: 100%;
        max-width: 568px;
    }

    .mainLogoImg {
        padding: 15px 20px;
    }

    .brand-logo {
        width: 3rem;
    }
}

@media screen and (min-width: 768px) {
    .navSection {
        margin: auto;
        position: relative;
        width: 100%;
        max-width: 768px;
    }

    .mainLogoImg {
        padding: 15px 20px;
    }

    .brand-logo {
        width: 3rem;
    }

    .nav-link {
        margin: 0px 6px;
        font-size: x-large;
    }
}

@media screen and (min-width: 1024px) {
    .navSection {
        margin: auto;
        position: relative;
        width: 100%;
        max-width: 1024px;
    }

    .mainLogoImg {
        padding: 15px 20px;
    }

    .brand-logo {
        width: 3rem;
    }

    .nav-link {
        margin: 0px 15px;
        font-size: xx-large;
    }
}