.carouselImage {
    width: 100%;
    padding: 0px;
    height: 15rem;
}

@media screen and (min-width: 568px) {
    .carouselImage {
        width: 100%;
        padding: 0px;
        height: 20rem;
    }
}

@media screen and (min-width: 768px) {
    .carouselImage {
        width: 100%;
        padding: 0px;
        height: 25rem;
    }
}

@media screen and (min-width: 1024px) {
    .carouselImage {
        width: 100%;
        padding: 0px;
        height: 30rem;
    }
}

@media screen and (min-width: 1300px) {
    .carouselImage {
        width: 100%;
        padding: 0px;
        height: 35rem;
    }
}

@media screen and (min-width: 1600px) {
    .carouselImage {
        width: 100%;
        padding: 0px;
        height: 40rem;
    }
}