.site-footer {
    background-color: #6a964f;
    margin: auto;
    position: relative;
    width: 100%;
    padding-top: 15px;
}



@media screen and (min-width:768px) {
    .site-footer {
        padding: 25px 20px;
    }

    .list-unstyled {
        font-size: large;
    }

    .btn-link {
        font-size: large;
    }

}

@media screen and (min-width:1024px) {
    .site-footer {
        padding: 25px 22px;
    }

    .list-unstyled {
        font-size: x-large;
    }

    .btn-link {
        font-size: x-large;
    }

    .footerHeaders {
        font-size: xx-large;
    }

}