.teamInfoContent {
    background: url('../../app/assets/img/pinkButcherPaper.jpg');
    background-position: center;
    border: 1px solid black;
}

.teamInfoTitle,
.teamInfoSubTitle {
    color: whitesmoke;
    text-decoration: underline;
    font-family: 'Roboto Slab', serif;
    text-align: center;
}

.teamMemberTitle {
    font-family: 'Roboto Slab', serif;
    text-align: center;
    color: #fefefe;
}

.teamMemberInfo {
    font-family: 'Caveat', cursive;
    font-size: x-large;
    font-weight: 700;
    text-align: center;
    color: #fefefe;
}

.companyStoryText {
    font-family: 'Caveat', cursive;
    font-size: x-large;
    font-weight: 900;
    color: #fefefe;
}

@media screen and (min-width: 768px) {

    .teamInfoSection {
        background: url('../../app/assets/img/cuttingBoard2.jpg');
        background-position: center;
    }
}

@media screen and (min-width: 1024px) {
    .teamInfoTitle {
        font-size: 45x;
    }

    .companyStoryText {
        font-size: 30px;
    }

    .teamInfoSubTitle {
        font-size: 40px;
    }

    .teamMemberTitle {
        font-size: 35px;
    }

    .teamMemberInfo {
        font-size: 30px;
    }
}